In [1]:
import pandas as pd
import datetime as dt
import glob
import numpy as np

In [2]:
filelist = glob.glob('*.csv')
filelist.remove('metadata.csv')
filelist

['expedition_everest.csv',
 'rock_n_rollercoaster.csv',
 'soarin.csv',
 'splash_mountain.csv']

In [3]:
filelist[0][:-4]

'expedition_everest'

In [4]:
foof = {}

for filename in filelist:
    foof[filename[:-4]] = pd.read_csv(filename)

In [5]:
foof["expedition_everest"].tail()

              date             datetime  SPOSTMIN  SACTMIN
228807  10/31/2018  2018-10-31 20:10:00    -999.0      NaN
228808  10/31/2018  2018-10-31 20:17:00    -999.0      NaN
228809  10/31/2018  2018-10-31 20:24:00    -999.0      NaN
228810  10/31/2018  2018-10-31 20:30:00    -999.0      NaN
228811  10/31/2018  2018-10-31 20:38:00    -999.0      NaN

In [6]:
goof = {}

for foo in foof:
    foof[foo]["date"] = pd.to_datetime(foof[foo]["date"], format="%m/%d/%Y")
    foof[foo] = foof[foo][foof[foo]["SPOSTMIN"] != -999.0]
    goof[foo] = foof[foo].groupby("date").mean().reset_index()

In [7]:
type(foof["splash_mountain"]["date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
goof["splash_mountain"].tail()

           date   SPOSTMIN    SACTMIN
2197 2018-10-27  32.803738  12.000000
2198 2018-10-28  12.659574  15.500000
2199 2018-10-29  47.047619   3.000000
2200 2018-10-30  20.743802  10.142857
2201 2018-10-31  15.182482  13.000000

In [9]:
metadata = pd.read_csv("metadata.csv")
metadata["DATE"] = pd.to_datetime(metadata["DATE"], format="%m/%d/%Y")
print(type(metadata["DATE"][0]))
metadata.rename(columns={"DATE" : "date"}, inplace=True)

metadata.tail()

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,date,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
2395,2018-07-26,regular,5,206,29,7,2018,SUMMER BREAK,23,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2396,2018-07-27,regular,6,207,29,7,2018,SUMMER BREAK,24,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2397,2018-07-28,regular,7,208,29,7,2018,SUMMER BREAK,25,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2398,2018-07-29,regular,1,209,30,7,2018,SUMMER BREAK,26,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2399,2018-07-30,regular,2,210,30,7,2018,SUMMER BREAK,27,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light

In [10]:
maxdate = metadata["date"].max()
mindate = "01/01/2015"
print(maxdate)
mask = (metadata['date'] >= mindate) & (metadata['date'] <= maxdate)

2018-07-30 00:00:00

In [11]:
metadata = metadata.loc[mask]
metadata

,date,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
1095,2015-01-01,NaN,5,0,0,1,2015,CHRISTMAS PEAK,0,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1096,2015-01-02,NaN,6,1,0,1,2015,CHRISTMAS,2,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1097,2015-01-03,NaN,7,2,0,1,2015,CHRISTMAS,3,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1098,2015-01-04,NaN,1,3,1,1,2015,CHRISTMAS,4,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1099,2015-01-05,NaN,2,4,1,1,2015,CHRISTMAS,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1100,2015-01-06,NaN,3,5,1,1,2015,CHRISTMAS,6,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1101,2015-01-07,NaN,4,6,1,1,2015,CHRISTMAS,7,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1102,2015-01-08,NaN,5,7,1,1,2015,CHRISTMAS,8,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1103,2015-01-09,NaN,6,8,1,1,2015,CHRISTMAS,9,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1104,2015-01-10,NaN,7,9,1,1,2015,WINTER,10,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1105,2015-01-11,NaN,1,10,2,1,2015,WINTER,9,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1106,2015-01-12,NaN,2,11,2,1,2015,WINTER,8,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1107,2015-01-13,NaN,3,12,2,1,2015,WINTER,7,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1108,2015-01-14,NaN,4,13,2,1,2015,WINTER,6,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1109,2015-01-15,NaN,5,14,2,1,2015,MARTIN LUTHER KING JUNIOR DAY,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1110,2015-01-16,NaN,6,15,2,1,2015,MARTIN LUTHER KING JUNIOR DAY,4,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1111,2015-01-17,NaN,7,16,2,1,2015,MARTIN LUTHER KING JUNIOR DAY,3,2,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1112,2015-01-18,NaN,1,17,3,1,2015,MARTIN LUTHER KING JUNIOR DAY,2,2,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1113,2015-01-19,NaN,2,18,3,1,2015,MARTIN LUTHER KING JUNIOR DAY,0,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1114,2015-01-20,NaN,3,19,3,1,2015,MARTIN LUTHER KING JUNIOR DAY,2,2,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1115,2015-01-21,NaN,4,20,3,1,2015,MARTIN LUTHER KING JUNIOR DAY,3,2,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1116,2015-01-22,NaN,5,21,3,1,2015,MARTIN LUTHER KING JUNIOR DAY,4,2,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1117,2015-01-23,NaN,6,22,3,1,2015,MARTIN LUTHER KING JUNIOR DAY,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1118,2015-01-24,NaN,7,23,3,1,2015,WINTER,6,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1119,2015-01-25,NaN,1,24,4,1,2015,WINTER,7,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1120,2015-01-26,NaN,2,25,4,1,2015,WINTER,7,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1121,2015-01-27,NaN,3,26,4,1,2015,WINTER,6,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1122,2015-01-28,NaN,4,27,4,1,2015,WINTER,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1123,2015-01-29,NaN,5,28,4,1,2015,WINTER,4,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1124,2015-01-30,NaN,6,29,4,1,2015,WINTER,3,2,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2370,2018-07-01,peak,1,181,26,7,2018,SUMMER BREAK,4,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2371,2018-07-02,peak,2,182,26,7,2018,JULY 4TH,3,4,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2372,2018-07-03,peak,3,183,26,7,2018,JULY 4TH,2,4,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2373,2018-07-04,peak,4,184,26,7,2018,JULY 4TH,0,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2374,2018-07-05,regular,5,185,26,7,2018,JULY 4TH,2,4,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2375,2018-07-06,regular,6,186,26,7,2018,JULY 4TH,3,4,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2376,2018-07-07,regular,7,187,26,7,2018,SUMMER BREAK,4,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2377,2018-07-08,regular,1,188,27,7,2018,SUMMER BREAK,5,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2378,2018-07-09,regular,2,189,27,7,2018,SUMMER BREAK,6,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2379,2018-07-10,regular,3,190,27,7,2018,SUMMER BREAK,7,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2380,2018-07-11,regular,4,191,27,7,2018,SUMMER BREAK,8,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2381,2018-07-12,regular,5,192,27,7,2018,SUMMER BREAK,9,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2382,2018-07-13,regular,6,193,27,7,2018,SUMMER BREAK,10,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2383,2018-07-14,regular,7,194,27,7,2018,SUMMER BREAK,11,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2384,2018-07-15,regular,1,195,28,7,2018,SUMMER BREAK,12,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2385,2018-07-16,regular,2,196,28,7,2018,SUMMER BREAK,13,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2386,2018-07-17,regular,3,197,28,7,2018,SUMMER BREAK,14,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2387,2018-07-18,regular,4,198,28,7,2018,SUMMER BREAK,15,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2388,2018-07-19,regular,5,199,28,7,2018,SUMMER BREAK,16,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2389,2018-07-20,regular,6,200,28,7,2018,SUMMER BREAK,17,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2390,2018-07-21,regular,7,201,28,7,2018,SUMMER BREAK,18,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2391,2018-07-22,regular,1,202,29,7,2018,SUMMER BREAK,19,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2392,2018-07-23,regular,2,203,29,7,2018,SUMMER BREAK,20,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2393,2018-07-24,regular,3,204,29,7,2018,SUMMER BREAK,21,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2394,2018-07-25,regular,4,205,29,7,2018,SUMMER BREAK,22,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2395,2018-07-26,regular,5,206,29,7,2018,SUMMER BREAK,23,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2396,2018-07-27,regular,6,207,29,7,2018,SUMMER BREAK,24,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2397,2018-07-28,regular,7,208,29,7,2018,SUMMER BREAK,25,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2398,2018-07-29,regular,1,209,30,7,2018,SUMMER BREAK,26,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
2399,2018-07-30,regular,2,210,30,7,2018,SUMMER BREAK,27,0,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light

In [12]:
moof = {}
for goo in goof:
    mask = (goof[goo]['date'] >= mindate) & (goof[goo]['date'] <= maxdate)
    goof[goo] = goof[goo].loc[mask]
    print(goo)
    
    print(goof[goo].head())
    moof[goo] = pd.merge(goof[goo], metadata, on = "date")

expedition_everest
           date   SPOSTMIN    SACTMIN
1094 2015-01-01  40.268817  10.500000
1095 2015-01-02  34.198113   5.500000
1096 2015-01-03  29.793814  24.333333
1097 2015-01-04  23.850000  25.000000
1098 2015-01-05  26.956522   3.000000
rock_n_rollercoaster
           date   SPOSTMIN  SACTMIN
1095 2015-01-01  74.717742     41.2
1096 2015-01-02  80.080645     26.0
1097 2015-01-03  88.222222     30.0
1098 2015-01-04   5.000000      NaN
1099 2015-01-05  62.321429     21.0
soarin
           date   SPOSTMIN    SACTMIN
1095 2015-01-01  89.814815  61.000000
1096 2015-01-02  82.389706  24.333333
1097 2015-01-03  73.443396        NaN
1098 2015-01-04  58.069307        NaN
1099 2015-01-05  58.437500        NaN
splash_mountain
          date   SPOSTMIN    SACTMIN
941 2015-01-01  28.156028  11.500000
942 2015-01-02  44.014085   1.000000
943 2015-01-03  43.198529  37.333333
944 2015-01-04  30.992063  16.000000
945 2015-01-31   6.724138        NaN

In [13]:
print(filelist[1])
moof[filelist[1][:-4]].head()

rock_n_rollercoaster.csv

,date,SPOSTMIN,SACTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2015-01-01,74.717742,41.2,NaN,5,0,0,1,2015,CHRISTMAS PEAK,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2015-01-02,80.080645,26.0,NaN,6,1,0,1,2015,CHRISTMAS,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2015-01-03,88.222222,30.0,NaN,7,2,0,1,2015,CHRISTMAS,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,2015-01-04,5.000000,NaN,NaN,1,3,1,1,2015,CHRISTMAS,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,2015-01-05,62.321429,21.0,NaN,2,4,1,1,2015,CHRISTMAS,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [14]:
moof[filelist[1][:-4]].tail()

,date,SPOSTMIN,SACTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
1284,2018-07-26,63.206897,NaN,regular,5,206,29,7,2018,SUMMER BREAK,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
1285,2018-07-27,65.566667,5.6,regular,6,207,29,7,2018,SUMMER BREAK,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
1286,2018-07-28,46.726619,7.0,regular,7,208,29,7,2018,SUMMER BREAK,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
1287,2018-07-29,45.856164,1.0,regular,1,209,30,7,2018,SUMMER BREAK,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light
1288,2018-07-30,46.493056,NaN,regular,2,210,30,7,2018,SUMMER BREAK,...,1,0,NaN,NaN,NaN,NaN,2,21:15,22:15,Rivers of Light

In [15]:
delete = ['date', 'AKFIREN', 'AKPRDDAY', 'AKPRDDN', 'AKPRDDT1', 'AKPRDDT2', 'HSPRDDN', 'HSPRDDT1', 'HSFIREWKS', 'HSPRDDAY', 'HSPRDDN', \
          'inSession_SoCal', 'AKEMHETOM', 'AKEMHEYEST', 'WEEKOFYEAR', \
          'WDW_TICKET_SEASON', 'HOLIDAYN', 'HOLIDAYJ', 'WDW_TICKET_SEASON','WDWRaceN', 'WDWeventN', 'WDWSEASON', 'MKeventN',\
          'EPeventN', 'HSeventN', 'AKeventN', 'AKeventN', 'MKEMHOPEN', 'MKEMHCLOSE', 'EPEMHOPEN', 'EPEMHCLOSE', 'HSEMHOPEN', \
          'HSEMHCLOSE','AKEMHOPEN','AKEMHCLOSE', 'MKPRDNT1', 'MKPRDNT2', 'MKPRDNN', 'MKFIRET2', 'EPFIRET2', 'HSFIRET1',\
          'HSFIRET2', 'HSFIREN', 'HSSHWNT2', 'AKSHWNT1', 'AKSHWNT2', 'AKSHWNN', 'MKPRDDT2', "WDWTICKETSEASON", 'MKFIRET1',\
          'MKFIREN', 'EPFIRET1', 'EPFIREN', 'HSSHWNT1', 'HSSHWNN']
for moo in moof:
    moof[moo] = moof[moo].drop(delete, axis=1)

In [16]:
print(len(list(moof[moo].columns)))

140

In [17]:

for moo in moof:
    moof[moo] = moof[moo][np.isfinite(moof[moo]['SACTMIN'])]

In [18]:
for moo in moof:
    print(moo)
    print(moof[moo].shape)
    missingIndex = set()
    for i in moof[moo].columns:
        if sum(pd.isna(moof[moo][i])) > 0:
            missingIndex.update(moof[moo].index[pd.isna(moof[moo][i])])
            print(i, sum(pd.isna(moof[moo][i])))
    for i in moof[moo].columns:
        moof[moo] = moof[moo][pd.notna(moof[moo][i])]
    print(len(missingIndex))
    print(moof[moo].shape)

expedition_everest
(1099, 140)
SPOSTMIN 1
WDWMAXTEMP 5
WDWMINTEMP 6
WDWMEANTEMP 6
7
(1092, 140)
rock_n_rollercoaster
(1061, 140)
SPOSTMIN 1
WDWMAXTEMP 4
WDWMINTEMP 5
WDWMEANTEMP 5
6
(1055, 140)
soarin
(1015, 140)
WDWMAXTEMP 4
WDWMINTEMP 5
WDWMEANTEMP 5
5
(1010, 140)
splash_mountain
(975, 140)
WDWMAXTEMP 4
WDWMINTEMP 4
WDWMEANTEMP 4
4
(971, 140)

In [19]:
doof = {}
for moo in moof:
    print(moo)
    print(moof[moo].isna().sum().sum())
    doof[moo] = moof[moo].drop(["SPOSTMIN"], axis = 1)

expedition_everest
0
rock_n_rollercoaster
0
soarin
0
splash_mountain
0

In [20]:
doof["splash_mountain"]

,SACTMIN,DAYOFWEEK,DAYOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,HOLIDAY,WDWevent,...,HS20CAPACITY,MKPRDDAY,MKPRDDT1,MKPRDDN,MKPRDNGT,MKFIREWK,EPFIREWK,HSFIREWK,HSSHWNGT,AKSHWNGT
0,11.500000,5,0,1,2015,CHRISTMAS PEAK,0,5,1,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,1,1,1,0,3,0
1,1.000000,6,1,1,2015,CHRISTMAS,2,5,0,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,1,1,1,0,3,0
2,37.333333,7,2,1,2015,CHRISTMAS,3,0,0,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,1,1,1,0,2,0
3,16.000000,1,3,1,2015,CHRISTMAS,4,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
5,11.400000,1,31,2,2015,WINTER,0,0,1,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
7,2.500000,3,33,2,2015,WINTER,3,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,1,1,1,0,1,0
8,5.000000,4,34,2,2015,WINTER,4,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,1,1,1,0,1,0
9,3.000000,5,35,2,2015,WINTER,5,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,1,1,1,0,1,0
10,14.000000,6,36,2,2015,WINTER,6,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
11,31.000000,7,37,2,2015,WINTER,7,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
12,14.500000,1,38,2,2015,WINTER,7,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
13,3.000000,2,39,2,2015,WINTER,6,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,1,1,1,0,2,0
15,14.500000,4,41,2,2015,WINTER,4,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,1,1,1,0,1,0
16,15.500000,5,42,2,2015,PRESIDENTS WEEK,3,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
17,3.500000,6,43,2,2015,PRESIDENTS WEEK,2,0,0,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
20,14.200000,2,46,2,2015,PRESIDENTS WEEK,0,0,1,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
22,14.000000,4,48,2,2015,PRESIDENTS WEEK,0,4,1,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,2,1,1,0,0,0
24,15.000000,6,50,2,2015,PRESIDENTS WEEK,3,4,0,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
25,18.500000,7,51,2,2015,PRESIDENTS WEEK,4,4,0,0,...,1000,2,12:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
26,35.000000,1,52,2,2015,PRESIDENTS WEEK,5,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
27,39.000000,2,53,2,2015,WINTER,6,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
28,18.666667,3,54,2,2015,WINTER,7,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
29,12.666667,4,55,2,2015,WINTER,8,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
30,8.333333,5,56,2,2015,WINTER,9,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
31,1.000000,6,57,2,2015,WINTER,10,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
32,3.000000,7,58,2,2015,WINTER,11,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
33,19.250000,1,59,3,2015,SPRING,12,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,2,0
34,21.500000,2,60,3,2015,SPRING,13,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
35,17.000000,3,61,3,2015,SPRING,14,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,3,1,1,0,1,0
36,11.000000,4,62,3,2015,SPRING,14,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,2,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,48.000000,6,172,6,2018,SPRING,6,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1130,13.500000,7,173,6,2018,SPRING,7,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1131,22.250000,1,174,6,2018,SPRING,8,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1132,15.000000,2,175,6,2018,SPRING,9,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1133,58.000000,3,176,6,2018,SPRING,9,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1134,46.000000,4,177,6,2018,SPRING,8,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1136,18.000000,6,179,6,2018,SPRING,6,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,1,2
1137,10.500000,7,180,6,2018,SPRING,5,0,0,0,...,1000,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1138,9.000000,1,181,7,2018,SUMMER BREAK,4,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1140,3.000000,3,183,7,2018,JULY 4TH,2,4,0,0,...,1500,2,12:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1141,13.000000,4,184,7,2018,JULY 4TH,0,0,1,0,...,1500,2,12:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1142,48.000000,5,185,7,2018,JULY 4TH,2,4,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1143,31.000000,6,186,7,2018,JULY 4TH,3,4,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1144,11.750000,7,187,7,2018,SUMMER BREAK,4,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1145,33.500000,1,188,7,2018,SUMMER BREAK,5,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1146,46.000000,2,189,7,2018,SUMMER BREAK,6,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1147,29.500000,3,190,7,2018,SUMMER BREAK,7,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1149,36.000000,5,192,7,2018,SUMMER BREAK,9,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1150,29.000000,6,193,7,2018,SUMMER BREAK,10,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1151,10.000000,7,194,7,2018,SUMMER BREAK,11,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1152,35.600000,1,195,7,2018,SUMMER BREAK,12,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1154,23.000000,3,197,7,2018,SUMMER BREAK,14,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1156,30.666667,5,199,7,2018,SUMMER BREAK,16,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1158,38.000000,7,201,7,2018,SUMMER BREAK,18,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1160,8.000000,2,203,7,2018,SUMMER BREAK,20,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1161,2.000000,3,204,7,2018,SUMMER BREAK,21,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1162,43.666667,4,205,7,2018,SUMMER BREAK,22,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1164,9.000000,6,207,7,2018,SUMMER BREAK,24,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1165,48.333333,7,208,7,2018,SUMMER BREAK,25,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2
1167,37.666667,2,210,7,2018,SUMMER BREAK,27,0,0,0,...,1500,1,15:00,Disney Festival of Fantasy Parad,0,1,1,1,2,2

In [21]:
for doo in doof:
    doof[doo].to_csv(f'Resources/{doo}.csv', index = False)

In [22]:
pd.options.display.max_columns = None